* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0079FF;
    --spaceBlue: #141D2F;
    --midnightBlue: #1E2A47;
    --havelockBlue : #4B6A9B;
    --slateGrey: #697C9A;
    --licorice: #2B3442;
    --ghostWhite: #F6F8FF;
    --black: #222731;
    --white: #FEFEFE;
}

body {
    height: 100vh;
    background-color: var(--ghostWhite);
    font-family: 'Space Mono', monospace; 
}

.body-dark {
    background: var(--spaceBlue) ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 730px;
    height: 100%;
}

.headline {
    margin-bottom: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline h2 {
    font-style: normal;
    font-size: 26px;
    line-height: 39px;
    color: var(--black);
}

.light-dark-switch {
    display: flex;
    color: var(--slateGrey);
}

.light-dark-switch:hover {
    color: var(--black);
    cursor: pointer;
}

.light-dark-switch:hover .theme-icon {
    fill: var(--black);
}

.dark-mode-switch {
    color: #FFFFFF;
}

.dark-mode-switch:hover {
    color: #90A4D4;
}

.dark-mode-icon {
    fill: #FFFFFF;
}

.dark-mode-switch:hover .dark-mode-icon {
    fill:  #90A4D4;
}

.dark-mode-no-shadow {
    box-shadow: none !important;
}

.switch {
    margin-right: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.theme-icon {
    fill: var(--slateGrey);
}

.search-bar {
    margin-bottom: 24px;
    width: 100%;
    position: relative;
    background: var(--white);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    text-align: center;
}

.search-svg {
    position: absolute;
    left: 43px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search {
    vertical-align: middle;
    background: var(--white);
    outline: none;
    border: none;
    height: 70px;
    width: 80%;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
}

.search::-webkit-input-placeholder { 
    color: var(--havelockBlue);
}

.search::-moz-placeholder { 
    color: var(--havelockBlue);
}

.search:-ms-input-placeholder { 
    color: var(--havelockBlue);
}

.search:-moz-placeholder { 
    color: var(--havelockBlue);
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    height: 50px;
    width: 106px;
    border: none;
    background: var(--blue);
    border-radius: 10px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-button:hover {
    cursor: pointer;
    background: #60ABFF;
}

.error-msg {
    right: 12%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #F74646;
    display: none;
}

.info-card {
    width: 100%;
    padding: 48px;
    background: var(--white);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
}

.card-header { 
    width: 100%;
    display: grid;
    grid-template-columns: 117px auto 30%;
    grid-template-rows: auto auto;
    grid-column-gap: 41px;
    margin-bottom: 20px;
}

.profile-img-container {
    grid-area: 1 / 1 / 3 / 2 ;
}

.profile-img {
    width: 117px;
    height: 117px;
    border-radius: 50%;
}

.name-and-username-container {
    grid-area: 1 / 2 / 2 / 4;
}

.name {
    font-style: normal;
    word-break: break-word;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    color: var(--licorice);
}

.username {
    margin-bottom: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);
}

.date-container {
    grid-area: 1/ 3 / 2 / 4;
}

.join-date {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: var(--slateGrey);
}

.bio-container {
    grid-area: 2 / 2 / 3 / 4;
}

.bio {
    grid-area: 3/ 1 / 4 / 3;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: var(--havelockBlue);
    mix-blend-mode: normal;
    opacity: 0.75;
}

.card-main {
    width: 100%;
    height: 185px;
    display: flex;
    justify-content: flex-end;
}

.main-content {
    min-width: 75%;
}

.repos-and-follows {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    padding: 15px 32px;
    background: var(--ghostWhite);
    border-radius: 10px;
}

.repos-and-follows :last-child {
    margin-right: 0px;
}

.stats {
    margin-right: 90px;
}

.stats p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: var(--havelockBlue);
}

.stats h2 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
    color: var(--licorice);
}

.contact-info {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.contact-info div {
    display: flex;
    align-items: center;
}

.twitter {
    grid-area: 1 / 2 / 2 / 3;
}

.contact-info svg {
    margin-right: 19px;
    fill: var(--havelockBlue);
}

.svg-unavailable {
    opacity: 0.5;
}

.contact-info a, p {
    text-decoration: none;
    word-break: break-word;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: var(--havelockBlue);
}

.location p {
    display: inline;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

@media only screen and (max-width: 750px) {
    .container {
        width: 85%;
    }

    .search {
        padding: 0 30px;
    }

    .error-msg {
        top: unset;
        right: unset;
        bottom: -33px;
        left: 50%;
    }

    .card-header {
        grid-template-rows: auto auto auto;
        grid-template-columns: 117px auto 0px;
        align-items: center;
    }

    .date-container {
        align-self: flex-start;
        grid-area: 2 / 2 / 3 / 3;
    }

    .join-date {
        margin-top: 0;
        text-align: left;
    }

    .bio-container {
        grid-area: 3 / 1 / 4 / 4 ;
    }

    .bio {
        margin-top: 20px;
    }

    .card-main {
        justify-content: unset;
    }

    .main-content {
        width: 100%;
    }
}

@media only screen and (max-width: 580px) { 
    
    body {
        height: unset;
    }
    .container {
        width: 90%;
        margin: 30px auto 80px auto;
    }

    .search-button {
        height: 46px;
    }

    .search {
        height: 60px;
        font-size: 13px;
        line-height: 25px;
        padding: 0 40px;
    }

    .info-card {
        padding: 32px 24px 48px 24px ;
    }

    .card-header {
        grid-template-columns: 70px auto 0px;
        grid-column-gap: 20px;
    }

    .profile-img {
        height: 70px;
        width: 70px;
    }

    .name {
        font-size: 16px;
        line-height: 24px;
    }

    .username {
        font-size: 13px;
        line-height: 19px;
    }

    .join-date {
        font-size: 13px;
        line-height: 19px;
    }

    .bio {
        font-size: 13px;
        line-height: 25px;
    }

    .card-main {
        height: auto;
    }

    .repos-and-follows {
        justify-content: space-between;
    }

    .stats {
        margin: 0;
        text-align: center;
    }

    .stats p {
        font-size: 11px;
        line-height: 16px;
    }
    .stats h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
    }

    .contact-info a, p {
        font-size: 13px;
        line-height: 19px;
    }
}

@media only screen and (max-width: 350px) {  
    .repos-and-follows {
        padding: 15px;
    }
}